<!doctype html>
<html>
  <head>
    <title>{{ titre_doc }}</title>
    <meta charset='UTF-8'>
  </head>
  <body>
    <h1>{{ titre_page }} - {{ date }}</h1>
    {# afficher les titres et noms des auteurs des livres #}
  </body>
</html>
